@import '~@/assets/styles/common/itemLayout.scss';
.flex-box__title--main::after {
  width: 24vw !important;
}
.flex-box__content {
  display: flex;
  .flex-box__content-year, .flex-box__content-event {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3.2vw;
    font-weight: 400;
    &>div {
      height: 8.245877vh;
      background: #FFFFFF;
      border: 1px solid #EEEEEE;
      border-radius: 2px;
    }
    .flex-box__content-year__item {
      width: 14.666667vw;
      line-height: 8.245877vh;
      color: #C9C9C9;
    }
    .flex-box__content-event__item {
      width: 66.666667vw;
      text-align: left;
      padding: 1.949025vh 4.266667vw;
      &>div{
        line-height: 2.248876vh;
      }
      .flex-box__content-event__item-text--light {
        font-weight: 300;
        color: #CCCCCC;
      }
      .flex-box__content-event__item-text--dark {
        color: #C6C6C6;
      }
    }

  }
  .flex-box__content-bar {
    width: 8vw;
    height: 60.11994vh;
    background: url('~@/assets/images/homePage/line-bg.png') no-repeat center;
    background-size: contain;
  }
}
