.global-footer {
  width: 100vw;
  min-width: 1200px;
  .global-footer--top {
    height: calc(311 / 1080 * 100vh);
    background: #121212;
    padding: 10.2vh 25vw 2.4vh 18.8vw;
    width: 100%;
    .global-footer--top--text {
      min-width: 760px;
      display: flex;
      justify-content: space-between;
      .text__left {
        width: 100%;
        font-size: $smallSize;
        color: $footerColor;
        line-height: calc(36 / 1080 * 100vh);
      }
      .text__left--title {
        margin-bottom: calc(39 / 1080 * 100vh);
        font-size: $normalSize;
        color: white;
      }
    }
    .text__left--case--wrap {
      width: calc(150 / 1920 * 100vw);
      display: flex;
      justify-content: space-between;
    }
    .text__right {
      img {
        width: calc(130 / 1920 * 100vw);
      }
      .text__right--title {
        margin-bottom: calc(28 / 1080 * 100vh);
        font-size: $normalSize;
        color: white;
      }
    }

  }
}
