.dropdown-content {
  position: absolute;
  top: 5.997001vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-color: $bgColor;
  padding: 1.7991vh 4.266667vw;
}
::v-deep .ivu-menu {
  background-color: $bgColor;
}
::v-deep
  .ivu-menu-light.ivu-menu-vertical
  .ivu-menu-item-active:not(.ivu-menu-submenu) {
  background: transparent;
}
::v-deep .ivu-menu-vertical.ivu-menu-light:after {
  content: none;
}
.menu-level1 {
  color: #eee;
}
.menu-level2 {
  color: #999;
}
.menu-level3 {
  color: #666;
}
.menu-level4 {
  color: #333;
}
