.detail-six {
  .detail-six__program--top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4.3vh;
    .detail-six__program--top-left {
      width: 29.3vw;
      min-width: 400px;
      .detail-six__section--program--each {
        text-indent: 2em;
        margin-bottom: 2.8vh;
        .detail-six__section--program--each-title, .detail-six__section--program--each-desc {
          font-size: 0.7vw;
          line-height: 2.8vh;
        }
        .detail-six__section--program--each-desc {
          color: #666666;
        }
        .detail-six__section--program--each-title {
          color: #333333;
        }
      }
    }
    .detail-six__program--top-right img{
      width: 31.3vw;
    }
  }
  .program-img {
    width: 100%;
  }
  .value-list-component {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .value-list-component--box {
      width: 30.4vw;
      position: relative;
      // border: 1px solid #EEEEEE;
      min-width: 300px;
      margin-bottom: 10px;
      background: url("~@/assets/image/successStories/detail/bg_large.png") no-repeat 0 0 /100% 100% content-box;
      .value-list-component--box-img {
        width: 2.3vw;
        position: absolute;
        top: 0;
        left: 0;
      }
      .value-list-component--box-desc {
        padding: 3.4vh 1.6vw;
        font-size: 0.7vw;
        line-height: 2.2vh;
        color: #666666;
      }
    }
  }
  .detail-six__header--logo img {
    width: 10.7vw;
  }
}
