@import '~@/assets/styles/common/itemLayout.scss';
// ::v-deep .swiper {
//   height: 49.475262vh;
//   width: 100vw;
//   .swiper__item{
//     padding: 2.398801vh 11.2vw;
//     width: 78.666667vw;
//     box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 1);
//     border-radius: 6px;
//     img {
//       width: 56.533333vw;
//       height: 32.233883vh;
//     }
//   }
//   .swiper-container {
//     width: 100%;
//     height: 49.475262vh;
//     .swiper-slide {
//       opacity: 0.4;
//     }
//     .swiper-slide-prev,
//     .swiper-slide-next {
//       opacity: 0.8;
//     }
//     .swiper-slide-active {
//       opacity: 1;
//       z-index: 1000;
//     }
//   }
// }
.flex-box__content {
  padding-top: 2.998501vh;
  .flex-box__content-menu {
    display: flex;
    justify-content: space-between;
    height: 2.998501vh;
    line-height: 2.998501vh;
    width: 100%;
    font-size: 12px;
    padding: 0 5.333333vw;
    .flex-box__content-menu_item {
      padding: 0 1vw;
    }
    .selected {
      font-size: 14px;
      color: #ff9c0f;
      border-bottom: 2px #ff9c0f solid;
    }
  }
}
.swiper {
  position: relative;
  height: 49.47vh;
  // width: auto;
  // overflow-x: auto;
  display: flex;
  overflow: hidden;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  .swiper__item {
    position: absolute;
    transition: all 0.5s;
    margin: 10vh 10vw;
    padding: 2.398801vh 11.2vw;
    width: 78.666667vw;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    img {
      width: 56.533333vw;
      height: 32.233883vh;
    }
  // .scroll {
  //   position: relative;
  //   .swiper__item {
  //     position: absolute;
  //     margin: 10vh 10vw;
  //     padding: 2.398801vh 11.2vw;
  //     width: 78.666667vw;
  //     box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.06);
  //     border-radius: 6px;
  //     img {
  //       width: 56.533333vw;
  //       height: 32.233883vh;
  //     }
  //   }
    // .list-enter-to {
    //   transition: all 2s ease;
    //   transform: translateX(0);
    // }
    // .list-leave-active {
    //   transition: all 2s ease;
    //   transform: translateX(-100%);
    // }
    // .list-enter {
    //   transform: translateX(100%);
    // }
    // .list-leave {
    //   transform: translateX(0);
    // }
  }
}
