@import '~@/assets/styles/common/itemLayout.scss';
.flex-box {
  padding-top: 4.947526vh;
  background: url('~@/assets/images/homePage/app-dir-bg.png') no-repeat;
  background-size: contain;
  .flex-box__title {
    .flex-box__title--main{
      color: #fff;
      &::after {
        background-color: #666;
      }
    }
    .flex-box__title--sub {
      color: #aaa;
    }
  }
}
.flex-box__content {
  padding-top: 2.998501vh;
  .flex-box__content-menu {
    display: flex;
    justify-content: space-between;
    height: 2.998501vh;
    line-height: 2.998501vh;
    width: 100%;
    font-size: 12px;
    padding: 0 5.333333vw;
    .flex-box__content-menu_item {
      padding: 0 1vw;
    }
    .selected {
      font-size: 14px;
      color: #ff9c0f;
      border-bottom: 2px #ff9c0f solid;
    }
  }
}
.swiper {
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 2.49925vh 0;
  height: 50.227886vh;
  justify-content: center;
  .swiper-container {
    position: absolute;
    width: 100vw;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    .swiper__item {
      padding: 2.14vh 8vw;
      width: 70.32vw;
      height: 44.227886vh;
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.06);
      border-radius: 6px;
      background: url('~@/assets/images/homePage/app-dir-item.png') no-repeat;
      background-size: contain;
      background-color: #fff;
      img {
        width: 50vw;
        height: 28.78vh;
      }
      div {
        font-size: 3.2vw;
        line-height: 3.598201vh;
      }
    }
  }

}
